.root {
    -fx-padding: 10px;
    -fx-font-family: "Trebuchet MS";
}

.grid-container {
    -fx-alignment: top-center;
    -fx-spacing: 10px;
}

.grid-name {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, lightgray, 0, 0, 3, 3);
}

.grid{
    -fx-grid-lines-visible: true;
}

.square {
    -fx-border-color: black;
    -fx-font-weight: bold;
    -fx-text-background-color: white;
}

.right-position {
    -fx-background-color: linear-gradient(green, #0d4200);
}

.wrong-position {
    -fx-background-color: linear-gradient(red, #8a0707);
}

