.root {
    -fx-padding: 10px;
    -fx-font-family: "Trebuchet MS";
}

.grid-container {
    -fx-alignment: top-center; /* On centre les noms des grilles */
    -fx-spacing: 10px; /* On rajoute un padding en-dessous du nom des grilles */
}

.grid-name {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.grid {
    -fx-grid-lines-visible: true;
}

.current-square, .final-square {
    -fx-text-background-color: white; /* Couleur de la police */
    -fx-border-color: black;
    -fx-font-weight: bold;
}

.current-square.right-position {
    -fx-background-color: darkgreen;
}

.current-square.wrong-position {
    -fx-background-color: #d20000;
}

.final-square.busy {
    -fx-background-color: darkblue;
}